<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iClick</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/animBG.css" />
    <link id="navbarStyleSheet" rel="stylesheet" href="/css/navbar.css" />
    <link id="mainStyleSheet" rel="stylesheet" href="/css/main.css" />
    <link id="styleSheet" rel="stylesheet" href="/css/result.css" />
    <link rel="stylesheet" href="/css/leaderboard.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link rel="stylesheet" href="/css/welcome.css"/>
    <link rel="stylesheet" href="/css/about.css"/>
  </head>
  <body>
    <div class="gradient"></div>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">iClick</a></div>
        <div class="navbtn">
          <a href="/leaderboard">Leaderboard</a>
          <a href="/about">About</a>
          <a class="sign-btn" href="/login"><span>Sign in</span></a>
        </div>
      </nav>
    </header>
