<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iclick</title>
    <link rel="stylesheet" href="/css/animBG.css" />
    <link id="navbarStyleSheet" rel="stylesheet" href="/css/navbar.css" />
    <link id="mainStyleSheet" rel="stylesheet" href="/css/main.css" />
    <link id="styleSheet" rel="stylesheet" href="/css/result.css" />
    <% /*Masukin disini semua cssnya. JANGAN DIPISAH*/ %>
  </head>
  <body>
    <div class="gradient"></div>
kesini semua
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">iClick</a></div>
        <div class="navbtn">
          <a href="/leaderboard">Leaderboard</a>
          <a href="/about">About</a>
          <a class="sign-btn" href="/register"><span>Sign in</span></a>
        </div>
      </nav>
    </header>
