body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;
  flex-direction: column;
  padding-top: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222222;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .logo h1 {
  color: white;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

nav .logo span {
  color: #b13918;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #b13918;
}

main {
  margin-top: 80px;
  width: 80%;
  height: 450px;
  max-width: 400px;
  padding: 30px;
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main h1{
    color: rgb(210, 210, 210);
    text-align: center;
    margin: 0;
}

main h3{
    color: rgb(210, 210, 210);
    text-align: center;
}
