body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;
  flex-direction: column;
  padding-top: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222222;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .logo h1 {
  color: white;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

nav .logo span {
  color: #b13918;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #b13918;
}

main {
  margin-top: 80px;
  width: 80%;
  height: 450px;
  max-width: 400px;
  padding: 30px;
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main h1{
    color: rgb(210, 210, 210);
    text-align: center;
    margin: 0;
}

main h3{
    color: rgb(210, 210, 210);
    text-align: center;
}

main button{
    background-color: #b13918;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: all 0.3s ease;
}

main button:hover{
    background-color: #ff5a1f;
}
.mode-selector {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#modeButton {
    padding: 10px 20px;
    background: #535353;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

#modeButton:hover {
    background: #c4c4c4;
}

#timeDisplay {
    color: #dbdbdb;
    margin-bottom: 20px;
}

.hidden {
  display: none;
}

#finalScore {
  color: #d0d0d0;
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

#restartButton {
    background-color: #17b4c2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#restartButton:hover {
    background-color: #58f1ff;
}
