<%- include('partials/header')%>

    <div class="container">
      <div class="BoxAbout">
        <h1>What is CPS Test?</h1>
        <p>
          CPS Test is an abbreviation for click per second test. It measures
          your mouse clicking speed in given time frame. Playing the CPS test
          game is easy and fun at the same time. The game is suitable for all
          age groups, so don't worry if you are just a high school student or a
          person with a corporate job.
        </p>
        <p>
          Have you wondered how many mouse clicks can you accomplish in thirty
          seconds? Well, many might not even know if there is a way to calculate
          such an atypical activity. It might come as a surprise that not only
          there is a way to calculate the number of clicks per given timeframe
          but also many users play the game and compete globally.
        </p>
        <button onclick="location.href='/'" class="back-button">
          ⬅ Kembali
        </button>
      </div>
      <div class="BoxImage"></div>
    </div>

    <script src="/js/navbar.js"></script>
  </body>
</html>
