<%- include('partials/header.ejs') %>

<div class="KotakUtamaUsername">
  <h2>Change Username</h2>
  <form action="/ChangeUsername" method="POST">
    <label for="New-username">New Username:</label>
    <input
      type="text_username"
      id="New-username"
      name="New-username"
      placeholder="Enter your New Username"
      required
    />
    <label for="password">Password:</label>
    <input
      type="password_username"
      id="password"
      name="password"
      placeholder="Enter your Password"
      required
    />

    <p class="PsnErrorLog">
      <%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>
    </p>

    <p class="PsnSuccessLog">
      <%= typeof successMessage !== 'undefined' ? successMessage : '' %>
    </p>
    
    <button type="submit">Save!</button>
  </form>
</div>
