<%- include('partials/header.ejs') %>

<div class="KotakUtamaEmail">
  <h2>Change Email</h2>
  <form action="/user/change_email" method="POST">
    <label for="email">Email:</label>
    <input
      type="email_email"
      id="email"
      name="email"
      placeholder="Enter your new Email"
      required
    />
    <label for="password">Password:</label>
    <input
      type="password_email"
      id="password"
      name="password"
      placeholder="Enter your Password"
      required
    />

    <button type="submit">Save!</button>
  </form>
</div>
