<%- include('partials/header.ejs') %>
    <div class="ContainerAnimText">
      <h1 class="TextAnim active">Modern Clicking Counter</h1>
      <h1 class="TextAnim">Challenge Yourself</h1>
    </div>
    <p>Know your limit at clicking, with saving point features.</p>

    <div class="CointainerBoxAccount">
      <div class="BoxRegister">
        <button onclick="window.location.href='/register'">Register</button>
      </div>

      <div class="BoxLogin">
        <button onclick="window.location.href='/login'">Login</button>
      </div>
    </div>

    <p class="TextGuest">Want To Play Without Account?</p>
    <div class="BoxGuest">
      <button onclick="window.location.href='/home'">Play As Guest</button>
    </div>

    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
