<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/animBG.css" />
    <link id="navbarStyleSheet" rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <div class="gradient"></div>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">iClick</a></div>
        <div class="navbtn">
          <a href="/leaderboard">Leaderboard</a>
          <a href="/about">About</a>
          <a class="sign-btn" href="/register"><span>Sign in</span></a>
        </div>
      </nav>
    </header>

    <div class="ContainerAnimText">
      <h1 class="TextAnim active">Modern Clicking Counter</h1>
      <h1 class="TextAnim">Challenge Yourself</h1>
    </div>
    <p>Know your limit at clicking, with saving point features.</p>

    <div class="CointainerBoxAccount">
      <div class="BoxRegister">
        <button onclick="window.location.href='/register'">Register</button>
      </div>

      <div class="BoxLogin">
        <button onclick="window.location.href='/login'">Login</button>
      </div>
    </div>

    <p1>Want To Play Without Account?</p1>
    <div class="BoxGuest">
      <button onclick="window.location.href='/home'">Play As Guest</button>
    </div>

    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
