<%- include('partials/header.ejs') %>

<div class="KotakTeksLP">
  <h1 class="TeksAnimLP active">Modern Clicking Counter</h1>
  <h1 class="TeksAnimLP">Challenge Yourself</h1>
</div>
<p>Know your limit at clicking, with saving point features.</p>

<div class="KotakOpsiLogin">
  <div class="KotakRegister">
    <button class="RegisterButton" onclick="window.location.href='/register'">Register</button>
  </div>

  <div class="KotakLogin">
    <button class="LoginButton" onclick="window.location.href='/login'">Login</button>
  </div>
</div>

<p class="TeksGuest">Want To Play Without Account?</p>
<div class="KotakGuest">
  <button class="GuestButton" onclick="window.location.href='/home'">Play As Guest</button>
</div>

<script src="/js/AnimTeks.js"></script>
