<%- include('partials/header.ejs') %>

    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
        </tr>
        <% if (typeof scores !== 'undefined' && scores.length > 0) { %>
            <% scores.forEach((score, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= score.namaUser %></td>
                    <td><%= score.score %></td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="3">No scores available</td>
            </tr>
        <% } %>
    </table>

    <script src="/js/navbar.js"></script>
</body>
</html>
