<%- include('partials/header.ejs') %>

    <main class="leaderboard-container">
      <div class="leaderboard-box">
        <h2>Alltime</h2>
        <ul class="rank-list">
          <li>#1 - Kaming</li>
          <li>#2 - Joe</li>
          <li>#3 - Charless</li>
        </ul>
      </div>

      <div class="leaderboard-box">
        <h2>Daily</h2>
        <ul class="rank-list">
          <li>#1 - Joe</li>
          <li>#2 - Charless</li>
          <li>#3 - Kaming</li>
        </ul>
      </div>
    </main>

    <script src="/js/navbar.js"></script>
  </body>
</html>
