<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/animBG.css" />
    <link id="navbarStyleSheet" rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/leaderboard.css" />
  </head>
  <div class="gradient"></div>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">iClick</a></div>
        <div class="navbtn">
          <a href="/leaderboard">Leaderboard</a>
          <a href="/about">About</a>
          <a class="sign-btn" href="register"><span>Sign in</span></a>
        </div>
      </nav>
    </header>

    <main class="leaderboard-container">
      <div class="leaderboard-box">
        <h2>Alltime</h2>
        <ul class="rank-list">
          <li>#1 - Kaming</li>
          <li>#2 - Joe</li>
          <li>#3 - Charless</li>
        </ul>
      </div>

      <div class="leaderboard-box">
        <h2>Daily</h2>
        <ul class="rank-list">
          <li>#1 - Joe</li>
          <li>#2 - Charless</li>
          <li>#3 - Kaming</li>
        </ul>
      </div>
    </main>

    <script src="/js/navbar.js"></script>
  </body>
</html>
