<%- include('partials/header')%> 
    
<div class="BoxContainerIndexReg">
  
  <div class="BoxDisplayTextReg">
    <div class="ContainerAnimTextReg">
      <% if (typeof errorMessage !== 'undefined') { %>
        <h1 class="TextAnimReg error-messageReg"><%= errorMessage %></h1>
      <% } %>      
      <h1 class="TextAnimReg active">Modern Clicking Counter</h1>
      <h1 class="TextAnimReg">Challenge Yourself</h1>
      <h1 class="TextAnimReg">look! who's coming 👀</h1>
    </div>
    <div class="ContainerTextDescReg"></div>
    <p class="deskripsi1Reg">Know your limit at clicking</p>
    <p class="deskripsi2Reg">with saving point features</p>
    <p class="deskripsi3Reg">Generally, calculating mouse clicks is referred to as ‘click speed test’’. Our website offers many variations by which a user can test his mouse clicking ability. The click speed test is more like a pass time game where players try to score the highest score.</p>
    <p class="deskripsi4Reg">it's up to you how fast you can click, Now what are you waiting for? Register right away to unlock your rank and compare your speed with other players around the world!</p>
  </div>

    <div class="register-container">
      <button onclick="location.href='/'" class="backbuttonReg">
        Back
      </button>
      <h2>Register</h2>

      <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="example@gmail.com"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />

        <button type="submit">Register</button>
      </form>

      <p class="login-link">
        Already have an account? <a href="/login">Login here</a>
      </p>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>
